<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="Final_1__Library.Properties.Settings.library3ConnectionString"
      connectionString="Data Source=DESKTOP-I5LO70H\SQLEXPRESS;Initial Catalog=library3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Final_1__Library.Properties.Settings.library1010ConnectionString"
      connectionString="Data Source=DESKTOP-I5LO70H\SQLEXPRESS;Initial Catalog=library1010;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyThuVienEntities" connectionString="metadata=res://*/QuanLyThuVien.csdl|res://*/QuanLyThuVien.ssdl|res://*/QuanLyThuVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I5LO70H\SQLEXPRESS;initial catalog=library1012;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Final_1__Library.Properties.Settings.library1012ConnectionString"
      connectionString="Data Source=DESKTOP-I5LO70H\SQLEXPRESS;Initial Catalog=library1012;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>